<app-navbar></app-navbar>

<div class="main-content mt-5">
  <div class="container-fluid">
    <div class="justify-content-center">
      <h2 class="text-center mt-4">Manage Subscription</h2>

      <div class="row justify-content-center mt-5">
        <a
          href="{{ customerPortalLink }}"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary rounded col-6 btn-lg"
        >
          View Subscription Details
        </a>
      </div>
      <p class="text-center text-muted mt-2">
        You will be redirected to a separate page hosted by stripe
      </p>
    </div>
  </div>
</div>
