<app-navbar></app-navbar>

<div class="main-content mt-4">
  <div class="container">
    <!-- Overview Section -->
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-end">
          <div class="col">
            <!-- Title -->
            <h1 class="header-title mb-4">Watch Video to Get Started</h1>
          </div>
        </div>

        <div style="position: relative; padding-bottom: 62.5%; height: 0">
          <iframe
            src="https://www.loom.com/embed/dba673a7938547a28fe73616140e0431"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
          ></iframe>
        </div>
        <!-- / .row -->
      </div>
    </div>
  </div>
</div>
