<app-navbar></app-navbar>

<div class="main-content mt-4">
  <div class="container">

<!-- Overview Section -->
<div class="container-fluid">

  <div class="header-body">
    <div class="row align-items-end">
      <div class="col">


        <!-- Title -->
        <h1 class="header-title">
          Watch Video to Get Started
        </h1>

      </div>
      <div class="col-auto">

      </div>
    </div> <!-- / .row -->
  </div>


              
      

          



    </div>


  </div>
</div>