<app-navbar-branding></app-navbar-branding>

<!-- LATER: have where they can leave a review -->
<div class="main-content mt-4">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header Title -->
        <h1 class="text-center mt-4 mb-5">{{ collectionData.name }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="grid-layout">
  <div
    class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-3"
    *ngFor="let review of reviews"
  >
    <div class="card border-1">
      <div class="card-body">
        <div class="mb-3">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <img
                src="https://ui-avatars.com/api/?format=svg&background=0D8ABC&color=fff&name={{
                  review.client_name
                }}"
                alt="..."
                class="avatar-img rounded-circle avatar-sm"
              />
            </div>
            <div class="col ms-n2">
              <!-- Title -->
              <h4 class="mb-1">{{ review.client_name }}</h4>
            </div>
          </div>
        </div>

        <p>
          {{ review.client_review }}
        </p>
      </div>
    </div>
  </div>
</div>
