<footer class="fixed-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center m-4">
        <a
          href="https://www.trustbadger.com"
          target="_blank"
          class="btn btn-white"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span>
            <img
              src="assets/images/trustbadger-logo.png"
              width="20"
              height="20"
              class="mr-1"
            />
          </span>
          Powered by Trustbadger
        </a>
      </div>
    </div>
  </div>
</footer>
