<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <!-- Brand =====================================-->
    <a class="navbar-brand mr-auto" [routerLink]="['/dashboard']">
      Trustbadger
    </a>

    <!-- User ==========================================-->
    <div class="navbar-user order-lg-3">
      <!-- Settings -->
      <div class="">
        <!-- Toggle -->
        <a
          href="https://www.trustbadger.com"
          target="_blank"
          class="btn btn-white"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="fe fe-thumbs-up"></span>
          Create a Testimonial Page
        </a>
      </div>
    </div>
  </div>
</nav>
