<app-navbar></app-navbar>

<nav
class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light"
id="sidebar"
>
<app-collection-navbar></app-collection-navbar>

</nav>

<div class="main-content mt-2">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">

                <div class="header-body">
                    <div class="row align-items-end">
                      <div class="col">
                
                        <!-- Title -->
                        <h1 class="header-title">
                          Embed Review Widget on Website
                        </h1>
                
                      </div>
                      <div class="col-auto">
                
                        <!-- Button -->
                        <a href="#!" class="btn btn-primary lift">
                          Copy Embed Code
                        </a>
                
                      </div>
                    </div> <!-- / .row -->
                  </div>

            </div>
        </div>
    </div>
</div>